# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# OS / Editor junk
.DS_Store
.vscode/
.idea/

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Playwright
playwright-report/
test-results/

